<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans>
        <!-- 连接工厂 -->
        <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
            <property name="brokerURL">
                <value>tcp://localhost:61616?wireFormat.maxInactivityDuration=0</value>
            </property>
        </bean>
        <!-- 消息模板 -->
        <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
            <property name="connectionFactory">
                <ref bean="connectionFactory"></ref>
            </property>
        </bean>
        <!-- 配置消息目标 -->
        <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
            <constructor-arg index="0">
                <value>MessageQueue</value>
            </constructor-arg>
        </bean>
    </beans>
</beans>